{% extends 'base/base.html' %}

{% block head %}
  <title>POSTIFY | Delete Account</title>
  <link rel="stylesheet" href="{% static 'css/delete_account.css' %}" />
{% endblock %}

{% block content %}
  <div class="box">
    <h1>Delete Account?</h1>

    <p>
      This action is permanent.<br />
      All your posts, profile data and settings will be deleted.
    </p>

    <form method="POST">
      {% csrf_token %}

      <div class="btn-area">
        <button type="submit" class="btn delete">Yes, Delete</button>

        <a href="/profile/" class="btn cancel">Cancel</a>
      </div>
    </form>
  </div>
{% endblock %}
