{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <title>POSTIFY | Edit Profile</title>

  <link rel="stylesheet" href="{% static 'css/edit_profile.css' %}" />
{% endblock %}

{% block content %}
  <div class="edit-container">
    <div class="edit-box">
      <div class="edit-header">
        <h1>Edit Profile</h1>

        <p>Update your profile information</p>
      </div>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        <div class="preview-container">
          <div class="preview">
            {% if profile.profile_pic %}
              <img id="preview-image" src="{{ profile.profile_pic.url }}" />
            {% else %}
              <img id="preview-image" src="{% static 'images/default.png' %}" />
            {% endif %}
          </div>

          <label for="profile-input" class="circle-btn"><i class="fa-solid fa-camera"></i></label>
        </div>

        <input type="file" name="profile_pic" id="profile-input" hidden />

        <!-- NAME -->

        <div class="input-group">
          <label>
            <i class="fa-solid fa-user"></i>

            Name
          </label>

          <input type="text" name="name" value="{{ profile.name }}" placeholder="Enter your name" required />
        </div>

        <!-- CITY -->

        <div class="input-group">
          <label>
            <i class="fa-solid fa-location-dot"></i>

            City
          </label>

          <input type="text" name="city" value="{{ profile.city }}" placeholder="Enter your city" />
        </div>

        <!-- BIO -->

        <div class="input-group">
          <label>
            <i class="fa-solid fa-pen"></i>

            Bio
          </label>

          <textarea name="bio" placeholder="Write something about yourself...">{{ profile.bio }}</textarea>
        </div>

        <div class="btn-group">
          <button type="submit" class="save-btn">Save Changes</button>

          <a href="{% url 'profile' %}" class="cancel-btn">Cancel</a>
        </div>
      </form>
    </div>
  </div>

  <script>
    let input = document.getElementById('profile-input')
    
    input.addEventListener('change', function () {
      let file = this.files[0]
    
      if (file) {
        let reader = new FileReader()
    
        reader.onload = function (e) {
          document.getElementById('preview-image').src = e.target.result
        }
    
        reader.readAsDataURL(file)
      }
    })
  </script>
{% endblock %}
