{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <title>POSTIFY | Help</title>

  <link rel="stylesheet" href="{% static 'css/help.css' %}" />
{% endblock %}

{% block content %}
  <div class="help-container">
    <div class="help-header">
      <h1>Help Center</h1>

      <p>Click any feature card below to open a visual guide and learn how POSTIFY works.</p>
    </div>

    <div class="help-grid">
      <div class="help-card" onclick="openGuide('{% static 'images/create_post1.jpg' %}')">
        <i class="fa-solid fa-square-plus"></i>

        <h3>Create Posts</h3>

        <p>Learn how to create and publish posts.</p>
      </div>

      <div class="help-card" onclick="openGuide('{% static 'images/save_delete_edit.png' %}')">
        <i class="fa-solid fa-bookmark"></i>

        <h3>Save Posts</h3>

        <p>Learn how to save favorite posts.</p>
      </div>

      <div class="help-card" onclick="openGuide('{% static 'images/profile.png' %}')">
        <i class="fa-solid fa-user"></i>

        <h3>Profile</h3>

        <p>Learn profile management and settings.</p>
      </div>

      <div class="help-card" onclick="openGuide('{% static 'images/search1.jpg' %}')">
        <i class="fa-solid fa-magnifying-glass"></i>

        <h3>Search</h3>

        <p>Learn how to search users and posts.</p>
      </div>
    </div>

    <div class="support-box">
      <h2>
        <i class="fa-solid fa-headset"></i>

        Need Assistance?
      </h2>

      <p>POSTIFY is built to keep things simple and easy. Open feature guides anytime and explore the platform.</p>
    </div>
  </div>

  <!-- IMAGE POPUP -->

  <div class="guide-modal" id="guideModal">
    <span class="close-btn" onclick="closeGuide()">&times;</span>

    <img id="guideImage" />
  </div>

  <script>
    function openGuide(imagePath) {
      document.getElementById('guideModal').style.display = 'flex'
    
      document.getElementById('guideImage').src = imagePath
    }
    
    function closeGuide() {
      document.getElementById('guideModal').style.display = 'none'
    }
    
    /* CLICK OUTSIDE CLOSE */
    
    document.getElementById('guideModal').onclick = function (e) {
      if (e.target === this) {
        closeGuide()
      }
    }
  </script>
{% endblock %}
