{% extends 'base/base.html' %}
{% load static %}

{% block head %}
  <title>POSTIFY | Home</title>

  <link rel="stylesheet" href="{% static 'css/home.css' %}" />


{% endblock %}

{% block content %}
  <div class="home-layout">
    <div class="feed-container">
      <!-- TOP CREATORS -->
      <div class="top-container">
        <div class="top-heading">🔥 Top Creators</div>

        <div class="top-users">
          {% for user in top_users %}
            <a href="{% url 'user_profile' user.id %}" class="user-item">
              <div class="user-round">
                {% if user.profile_pic %}
                  <img src="{{ user.profile_pic.url }}" />
                {% else %}
                  {{ user.name|first|upper }}
                {% endif %}
              </div>

              <div class="user-name">{{ user.name }}</div>
            </a>
          {% endfor %}
        </div>
      </div>

      <!-- POSTS -->

      {% for post in posts %}
        <div class="post-card" onclick="openPost(this)" data-name="{{ post.user.name }}" data-date="{{ post.created_at|date:'d M Y' }}" data-title="{{ post.title }}" data-content="{{ post.content }}" data-image="{% if post.first_image %}{{ post.first_image }}{% endif %}">
          <!-- HEADER -->

          <div class="post-header">
            <div class="user-info">
              <a href="{% url 'user_profile' post.user.id %}" style="text-decoration: none;">
                <div class="profile-circle">
                  {% if post.user.profile_pic %}
                    <img src="{{ post.user.profile_pic.url }}" class="profile-img" />
                  {% else %}
                    {{ post.user.name|first|upper }}
                  {% endif %}
                </div>
              </a>

              <div>
                <div class="username">{{ post.user.name }}</div>

                <div class="date">{{ post.created_at|date:'d M Y' }}</div>
              </div>
            </div>

            <!-- MENU -->

            <div class="post-menu">
              <button type="button" class="menu-btn" onclick="toggleMenu(event,this)"><i class="fa-solid fa-ellipsis"></i></button>

              <div class="menu-dropdown">
                {% if current_user.id == post.user.id %}
                  <a href="{% url 'edit_post' post.id %}">
                    <i class="fa-solid fa-pen"></i>
                    Edit
                  </a>

                  <a href="{% url 'delete_post' post.id %}">
                    <i class="fa-solid fa-trash"></i>
                    Delete
                  </a>
                {% endif %}

                <a href="#" onclick="showLikes(event, {{ post.id }}); return false;">
                  <i class="fa-solid fa-heart"></i>
                  Likes List
                </a>
              </div>
            </div>
          </div>

          <!-- TITLE -->

          <h3 class="post-title">{{ post.title }}</h3>

          <!-- CONTENT -->

          <p class="post-content">{{ post.content|truncatechars:100 }}</p>

          {% comment %} <!-- IMAGE -->

          {% if post.total_images > 0 %}
            <div class="slider-container">
              {% for img in post.images.all %}
                <img src="{{ img.image.url }}" class="slide {% if forloop.first %}active{% endif %}" />
              {% endfor %}

              {% if post.total_images > 1 %}
                <button class="prev-btn" onclick="changeSlide(event,this,-1)">❮</button>

                <button class="next-btn" onclick="changeSlide(event,this,1)">❯</button>
              {% endif %}
            </div>
          {% elif post.image %}
            <img src="{{ post.image.url }}" class="post-image" />
          {% endif %} {% endcomment %}
          <div class="image-box">
            <img src="{{ img.image.url }}" class="post-image" />
          </div>
          <!-- ACTIONS -->

          <div class="post-actions">
            <!-- LIKE BUTTON -->

            <button class="like-btn" data-id="{{ post.id }}">
              {% if post.id in liked_posts %}
                <i class="fa-solid fa-heart"></i>
              {% else %}
                <i class="fa-regular fa-heart"></i>
              {% endif %}

              <span>{{ post.total_likes }}</span>
            </button>
            <!-- SAVE BUTTON -->

            <button class="save-btn" data-id="{{ post.id }}">
              {% if current_user in post.saved_by.all %}
                <i class="fa-solid fa-bookmark"></i>

                <span>Unsave</span>
              {% else %}
                <i class="fa-regular fa-bookmark"></i>

                <span>Save</span>
              {% endif %}
            </button>
          </div>
        </div>
      {% endfor %}
    </div>

    <!-- RIGHT SIDE POST POPUP -->

    <div class="side-post" id="sidePost">
      <span class="close-side" onclick="closePost()">×</span>

      <div class="username" id="detailName"></div>

      <div class="date" id="detailDate"></div>

      <h2 class="popup-title" id="detailTitle"></h2>

      <p class="popup-text" id="detailContent"></p>

      <img id="detailImage" class="popup-image" />
    </div>

    <div class="likes-popup" id="likesPopup">
      <div class="likes-box">
        <div class="likes-header">
          <span>Likes</span>
          <span onclick="closeLikes()">&times;</span>
        </div>

        <div id="likesList"></div>
      </div>
    </div>
  </div>
  <script src="{% static 'js/home.js' %}"></script>
{% endblock %}
