{% extends 'base/base.html' %}

{% block head %}
<title>POSTIFY | Private Profile</title>

<link rel="stylesheet" href="{% static "css/private.css" %}">
{% endblock %}

{% block content %}

<div class="private-box">

    <!-- PROFILE INFO -->
    <div class="profile-mini">

        {% if profile_user.profile_pic %}
            <img src="{{ profile_user.profile_pic.url }}">
        {% else %}
            <div class="avatar">
                {{ profile_user.name|first|upper }}
            </div>
        {% endif %}

        <h2>{{ profile_user.name }}</h2>

        <div class="post-count">
            Posts : {{ profile_user.posts.count  }}
        </div>

    </div>

    <!-- LOCK ICON -->
    <div class="lock-icon">
        <i class="fa-solid fa-lock"></i>
    </div>

    <!-- TEXT -->
    <div class="title">This Account is Private</div>

    <div class="desc">
        Only approved users can see posts, photos and full profile details.
    </div>

    <!-- OPTIONAL BUTTON -->
    <a href="/" class="back-btn">
        Go Back
    </a>

</div>

{% endblock %}