{% extends 'base/base.html' %}
{% load static %}
{% block head %}
  <title>POSTIFY | Settings</title>

  <link rel="stylesheet" href="{% static 'css/setting.css' %}" />
{% endblock %}

{% block content %}
  <div class="settings-container">
    <div class="settings-header">
      <h1>Settings</h1>

      <p>Manage your account and preferences</p>
    </div>

    <div class="settings-box">
      <div class="setting-item">
        <div class="left-side">
          <i class="fa-solid fa-user"></i>

          <div>
            <h3>Edit Profile</h3>

            <p>Update profile information</p>
          </div>
        </div>

        <a href="{% url 'edit_profile' %}" class="setting-btn">Open</a>
      </div>

      <div class="setting-item">
        <div class="left-side">
          <i class="fa-solid fa-lock"></i>

          <div>
            <h3>Privacy</h3>

            <p>Manage account privacy</p>
          </div>
        </div>

        <a href="{% url 'privacy' %}" class="setting-btn">Open</a>
      </div>

      <div class="setting-item">
        <div class="left-side">
          <i class="fa-solid fa-bell"></i>

          <div>
            <h3>Notifications</h3>

            <p>Manage notification preferences</p>
          </div>
        </div>

        <a href="#" class="setting-btn">Open</a>
      </div>

      <div class="setting-item">
        <div class="left-side">
          <i class="fa-solid fa-right-from-bracket"></i>

          <div>
            <h3>Logout</h3>

            <p>Sign out from your account</p>
          </div>
        </div>

        <a href="{% url 'logout' %}" class="setting-btn logout-btn">Logout</a>
      </div>
    </div>
  </div>
{% endblock %}
